<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>Teste person</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>

    <tbody>
      <% @person.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.age %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>

</html>